
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

}


body {
  background-color: rgb(189, 227, 238);
  margin: 0;
}

/* header {
  background-color: lightskyblue;
  padding: 5px;
} */

li {
  list-style-type: none;
  margin-right: 30px;
  /* text-decoration: none;
  color: black; */
  
}




a {
  text-decoration: none;
  color: black;
  
}

a:hover{
  color: rgb(20, 67, 80);
}
